<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="menu-item-text">Home</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/courses" (click)="onClose()">
    <mat-icon>book</mat-icon>
    <span class="menu-item-text">Cursos</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/infos" (click)="onClose()">
    <mat-icon>info</mat-icon>
    <span class="menu-item-text">Informações</span>
  </a>
</mat-nav-list>
