<div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-around space-around"
  fxLayoutGap="20px">
  <mat-card class="card">
    <mat-card-title>
      <mat-card-title>Desenvolvido por Vinicius Rodrigues</mat-card-title>
    </mat-card-title>
    <mat-card-content fxLayout fxLayoutAlign="center center">
      <a fxItem="1" fxFlexFill mat-button href="http://www.viniro.me">
        <strong>Mais informações sobre mim...</strong>
      </a>

    </mat-card-content>
  </mat-card>
</div>
